#footer {
  background-color: #F4F4F4;
}

body, .slide {
  background-color: #F4F4F4;
  background-image: url(images/bg.gif);
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
}

#preso pre  {
  display: block;
  monospace;
  background: #333;
  color: #eee;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  box-shadow: 0 0 35px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 35px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 35px rgba(0,0,0,1.0);
}

#preso div.smaller pre {
  font-size:24px;
}

#preso div.two-column-container {
  overflow: hidden;
  width: 100%
}

#preso pre.two-column {
  float:left;
  font-size: 20px;
  width: 450px;
  padding: 20px 0 0 20px;
  margin: 0 0px 0 25px;
}

#preso a {
  color: #3c4f6b;
  color: #DA131A;
}

